# Young Audiences Data

In [59]:
#!pip3 install fuzzywuzzy
#!pip3 install 'fuzzywuzzy[speedup]'
#!pip3 install matplotlib

In [61]:
import pandas as pd
import glob
from collections import defaultdict
from fuzzywuzzy import process, fuzz
import matplotlib.pyplot as plt

In [84]:
path = "/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/"
# Use Glob to retrieve all of the file names
file_list = glob.glob(path+'*.xlsx')
# Sort files
file_list.sort()

In [85]:
file_list

['/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/Performance Pair Pricing.xlsx',
 '/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/Professional Learning Pricing.xlsx',
 '/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/Single Assembly Pricing.xlsx',
 '/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/Teaching Artist Demographics Collection 2021.xlsx',
 '/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/Teaching Artist Demographics Collection Short 04 06 21.xlsx',
 '/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/Three Year Sales Report.xlsx',
 '/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/Workshop Pricing.xlsx',
 '/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/demographic_cleaned_part_1.xlsx',
 '/Users/jjgong/Dropbox/Probono Analytics Project Data Artist Pay Equity/demographic_cleaned_part_2.xlsx']

In [86]:
d = defaultdict(lambda: defaultdict())
for i,f in enumerate(file_list):
    d[i]['name'] = f[71:-5]
    d[i]['file'] = pd.read_excel(f)

In [87]:
# Get title and file
def get_name(d):
    print(d['name'])
    return d['file']

In [88]:
pd.set_option("max_columns", 500)

In [89]:
# Is null
get_name(d[8])['company'].isna().sum()

demographic_cleaned_part_2

18

In [90]:
get_name(d[1]).head()

Professional Learning Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %
0,50,Baba Bomani,Virtual: Hip Hop Culture Empowers Student Writ...,2018-07-01,2021,Virtual Professional Learning,200,90,0.45
1,50,Baba Bomani,Virtual: Hip Hop Culture Empowers Student Writ...,2018-07-01,2021,Virtual Professional Learning,300,135,0.45
2,102,Chris Parks,Dodge Theatre to Learn,2000-07-01,2020,Professional Learning,200,200,1.00
3,102,Chris Parks,AIE - Theatre Residency,2000-07-01,2020,Professional Learning,300,300,1.00
4,17,David Harrell,Dodge Theatre Professional Development,2013-07-01,2019,Professional Learning,225,225,1.00

In [91]:
get_name(d[2]).head() # Single Performance – one assembly in a school

Single Assembly Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %,Component Type (Specific)
0,33,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2020,Performance/Demo,650,450,0.692308,Single Performance
1,133,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2021,Performance/Demo,650,450,0.692308,Single Performance
2,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2019,Performance/Demo,725,500,0.689655,Single Performance
3,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2020,Performance/Demo,725,500,0.689655,Single Performance
4,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2021,Performance/Demo,725,500,0.689655,Single Performance

In [92]:
get_name(d[5]).head() # Three Year Sales Report

Three Year Sales Report

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
0,0.0,10HL,Dance,Professional Learning,2018-11-15,19-0008036,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,10 Hairy Legs
1,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
2,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
3,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Performance/Demo,700.0,1010.0,"Salsana, LLC"
4,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Travel,90.0,75.0,"Salsana, LLC"

In [93]:
#get_name(d[3]).columns

In [94]:
get_name(d[7]).head(3) #columns - demographics data - Teaching Artist Demographics Collection 2021

demographic_cleaned_part_1

,artist_id,respondent_id,collector_id,first_name,last_name,city,state,company,years_roster,program_assembly,program_workshop_residencies,program_professional_learning,program_family_arts,age,gender,difficulty_seeing,difficulty_hearing,difficulty_mobility,difficulty_concentration,difficulty_memory,difficulty_errands,disabled,ethnicity,secondary_language_speak,language_speak_tertiary,language_write_secondary,other_response_ind
0,114,12164276468,392265161,KAREN,ABDUL MALIK,Willingboro,NJ,Stories in Tour w.Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
1,114,12357020326,392265161,Karen,Abdul-Malik,Willingboror,NJ,Stories on Tour w. Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,YA Family Arts & Creativity,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
2,91,12164277807,392265161,Nathan,Alford-Tate,Philadelphia,PA,Almanac Dance Circus Theatre,5.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,25 to 34,male,NaN,NaN,NaN,NaN,NaN,NaN,no,african,spanish,NaN,spanish,NaN

In [95]:
#get_name(d[3])

In [96]:
#df = get_name(d[2])
#df[['First Name', 'Last Name']] = df['Account Name'].str.split(' ', 1, expand=True)
#df

In [97]:
#get_name(d[4]).head() #- demographics data part 2 - Teaching Artist Demographics Collection Short 04 06 21

## Artist Info:

1. Number of teachers / performers-- Yes we know this- Working on getting the report.  Will provide shortly.

2. Number of years of experience –We know # of years most artists have worked for us.  Their start date is on the pricing reports.  We do not collect data on how long they have been practicing the art form. 

3. Professional certifications – We do not collect this data.

# Purchasing Entity:

1. Number of attendees / class size -- We collect that information from the school.  Working on updating the sales report to include this information. 

2. Age group of attendees / class  -- We collect that information from the school.  Working on updating the sales report to include this information

3. Number of sessions – depends on the number of students, the size of the performance or workshop space, size of the sound system,  and the needs of the artist. Most assembly artists will do 250-300 students as a single performance and if more want us to schedule a second performance.  Some artists will do as many students as the space will fit as one performance as they have a large sound system and like performing for large groups.  It’s best to keep performances within a three grade span but often schools can’t afford the time or money for multiple shows.  Workshops are always 25 students or less per workshop.  No more than four in a day unless negotiated with the artist and they are paid more.

4. Length of each session – most sessions are 45 minutes

5. Genre/instrument of art form general_discipline: This is tracked on our yearly Chapter Report by our National Office into these 5 categories:  Music, Theatre, Dance, Visual Art, Literary, and Media. ( Literary Art and Literary Arts is one in the same.

In [98]:
# Professional Learning Pricing - Artist is teaching Teachers how to use their art in the classroom
professional_learning = get_name(d[1])
professional_learning.head(5)

Professional Learning Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %
0,50,Baba Bomani,Virtual: Hip Hop Culture Empowers Student Writ...,2018-07-01,2021,Virtual Professional Learning,200,90,0.45
1,50,Baba Bomani,Virtual: Hip Hop Culture Empowers Student Writ...,2018-07-01,2021,Virtual Professional Learning,300,135,0.45
2,102,Chris Parks,Dodge Theatre to Learn,2000-07-01,2020,Professional Learning,200,200,1.00
3,102,Chris Parks,AIE - Theatre Residency,2000-07-01,2020,Professional Learning,300,300,1.00
4,17,David Harrell,Dodge Theatre Professional Development,2013-07-01,2019,Professional Learning,225,225,1.00

In [99]:
single_assembly = get_name(d[2]).head() # Single Performance – one assembly in a school
single_assembly

Single Assembly Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %,Component Type (Specific)
0,33,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2020,Performance/Demo,650,450,0.692308,Single Performance
1,133,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2021,Performance/Demo,650,450,0.692308,Single Performance
2,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2019,Performance/Demo,725,500,0.689655,Single Performance
3,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2020,Performance/Demo,725,500,0.689655,Single Performance
4,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2021,Performance/Demo,725,500,0.689655,Single Performance

In [100]:
workshop_pricing = get_name(d[6]) # Workshop Pricing

Workshop Pricing

In [101]:
workshop_pricing.head() # These are workshops

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %,Component Type (Specific),Multiple Artists
0,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2019,Workshop,785,550,0.700637,Stand-alone Workshop,*
1,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2020,Workshop,785,550,0.700637,Stand-alone Workshop,*
2,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2021,Workshop,785,550,0.700637,Stand-alone Workshop,*
3,89.0,Alex Shaw,Brazilian Group Drumming,2011-07-01,2019,Workshop,520,350,0.673077,Residency Workshop,NaN
4,89.0,Alex Shaw,Brazilian Group Drumming,2011-07-01,2020,Workshop,520,350,0.673077,Residency Workshop,NaN

In [102]:
three_year = get_name(d[5])

Three Year Sales Report

In [103]:
three_year.head()

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
0,0.0,10HL,Dance,Professional Learning,2018-11-15,19-0008036,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,10 Hairy Legs
1,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
2,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
3,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Performance/Demo,700.0,1010.0,"Salsana, LLC"
4,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Travel,90.0,75.0,"Salsana, LLC"

In [104]:
demo_1 = get_name(d[7])
demo_1.head()

demographic_cleaned_part_1

,artist_id,respondent_id,collector_id,first_name,last_name,city,state,company,years_roster,program_assembly,program_workshop_residencies,program_professional_learning,program_family_arts,age,gender,difficulty_seeing,difficulty_hearing,difficulty_mobility,difficulty_concentration,difficulty_memory,difficulty_errands,disabled,ethnicity,secondary_language_speak,language_speak_tertiary,language_write_secondary,other_response_ind
0,114,12164276468,392265161,KAREN,ABDUL MALIK,Willingboro,NJ,Stories in Tour w.Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
1,114,12357020326,392265161,Karen,Abdul-Malik,Willingboror,NJ,Stories on Tour w. Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,YA Family Arts & Creativity,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
2,91,12164277807,392265161,Nathan,Alford-Tate,Philadelphia,PA,Almanac Dance Circus Theatre,5.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,25 to 34,male,NaN,NaN,NaN,NaN,NaN,NaN,no,african,spanish,NaN,spanish,NaN
3,16,12200512116,392265161,Robert,Aptaker,Allentown,PA,NaN,14.0,YA Assembly,NaN,NaN,NaN,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN
4,85,12199525231,392265161,Diamond,Avant,Lithonia,GA,Soul Steps LLC,2.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,18 to 24,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN

In [105]:
demo_2 = get_name(d[8])
demo_2.head()

demographic_cleaned_part_2

,respondent_id,collector_id,start_date,end_date,ip_address,email_address,first_name,last_name,city,state,company,email,age,gender,disabled,ethnicity,lgbt
0,12546306472,402463705,2021-04-03 14:15:44,2021-04-03 14:17:58,173.54.216.103,yakaffi@aol.com,Candace,Hundley - Kamate,South Orange,NJ,Seventh Principle,yakaffi@aol.com,45 to 54,female,no,african,no
1,12539990029,402463705,2021-03-31 18:56:07,2021-03-31 18:57:51,104.138.128.191,folaafolayan@gmail.com,Folaranmi,Afolayan,Winston Salem,NC,NaN,folaafolayan@gmail.com,25 to 34,female,no,african,yes
2,12539543012,402463705,2021-03-31 15:49:37,2021-03-31 15:57:42,172.58.107.232,gatabravacapoeira@gmail.com,Leigh,Robertson,Lambertville,Nj,Intro to capoeira,gatabravacapoeira@gmail.com,35 to 44,female,no,caucasian,no
3,12539401039,402463705,2021-03-31 15:04:29,2021-03-31 15:06:28,72.77.38.162,cellofury@gmail.com,Nicole,Myers,Pittsburgh,PA,Cello Fury,Info@cellofury.com,35 to 44,female,no,caucasian,no
4,12539189028,402463705,2021-03-31 13:50:57,2021-03-31 13:52:46,67.245.198.221,rainart.david@gmail.com,David,Gonzalez,Rosendale,NY,Rainart Productions/David Gonzalez,rainart.david@gmail.com,55 to 64,other,no,latin,no

In [106]:
demo_1.merge(demo_2, on=['first_name', 'last_name', 'state'])

,artist_id,respondent_id_x,collector_id_x,first_name,last_name,city_x,state,company_x,years_roster,program_assembly,program_workshop_residencies,program_professional_learning,program_family_arts,age_x,gender_x,difficulty_seeing,difficulty_hearing,difficulty_mobility,difficulty_concentration,difficulty_memory,difficulty_errands,disabled_x,ethnicity_x,secondary_language_speak,language_speak_tertiary,language_write_secondary,other_response_ind,respondent_id_y,collector_id_y,start_date,end_date,ip_address,email_address,city_y,company_y,email,age_y,gender_y,disabled_y,ethnicity_y,lgbt
0,16,12200512116,392265161,Robert,Aptaker,Allentown,PA,NaN,14.0,YA Assembly,NaN,NaN,NaN,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN,12525692027,402464094,2021-03-26 09:22:12,2021-03-26 09:23:45,108.2.16.99,NaN,Allentown,NaN,robaptaker@gmail.com,55 to 64,male,no,white,no
1,75,12164303696,392265161,Peter,Bogdanos,North Bergen,NJ,Mexico Beyond Mariachi,16.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,45 to 54,male,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,spanish,NaN,spanish,1.0,12524232647,402463705,2021-03-25 19:55:42,2021-03-25 19:56:45,24.161.103.17,peterb@mexicobeyondmariachi.com,North Bergen,Mexico Beyond Mariachi,peterbogdanos@gmail.com,45 to 54,male,no,caucasian,no
2,64,12168315622,392265161,Eloise,Bruce,Lawrenceville,NJ,NaN,20.0,NaN,YA Workshops & Residencies,YA Professional Learning,YA Family Arts & Creativity,65 to 74,female,NaN,Hearing,Mobility,NaN,NaN,Errands outside your home,yes,caucasian,NaN,NaN,NaN,NaN,12523912743,402463705,2021-03-25 17:36:10,2021-03-25 17:39:05,173.72.120.180,bruceeloise1@gmail.com,Lawrenceville,NaN,bruceeloise1@gmail.com,65 to 74,female,yes,caucasian,no
3,101,12242876965,392265161,Pat,Cannon,Sloatsburg,NY,Foot & Fiddle Dance Co.,30.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,65 to 74,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,1.0,12539127794,402463705,2021-03-31 13:29:37,2021-03-31 13:31:36,24.46.58.14,tapcannon@aol.com,Sloatsburg,Foot & Fiddle Dance Co.,tapcannon@aol.com,65 to 74,female,no,caucasian,no
4,101,12168444460,392265161,Pat,Cannon,Sloatsburg,NY,Foot & Fiddle Dance Co.,20.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,65 to 74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12539127794,402463705,2021-03-31 13:29:37,2021-03-31 13:31:36,24.46.58.14,tapcannon@aol.com,Sloatsburg,Foot & Fiddle Dance Co.,tapcannon@aol.com,65 to 74,female,no,caucasian,no
5,92,12202314711,392265161,Zachary,Chiero,Philadelphia,PA,Enchantment Theatre Company,2.0,YA Assembly,NaN,NaN,NaN,25 to 34,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN,12524302044,402464094,2021-03-25 20:28:23,2021-03-25 20:30:16,174.198.170.107,NaN,Philadelphia,Enchantment Theatre Company,zachary@enchantmenttheatre.org,25 to 34,male,no,caucasian,NaN
6,41,12164277278,392265161,Patricia,Flynn,Glen Ridge,NJ,NaN,12.0,NaN,YA Workshops & Residencies,YA Professional Learning,NaN,65 to 74,female,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,irish,french,NaN,1.0,12528673625,402463705,2021-03-27 13:12:58,2021-03-27 13:17:09,3.17.151.210,pflynn616@gmail.com,Glen Ridge,NaN,pflynn616@gmail.com,65 to 74,female,no,white,no
7,20,12259268408,392265161,Nick,Franclik,Macungie,PA,RockRoots,25.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,NaN,NaN,NaN,NaN,12525470728,402464094,2021-03-26 08:06:57,2021-03-26 08:10:42,216.164.186.53,NaN,Macungie,RockRoots,nickfranclik@gmail.com,55 to 64,male,no,caucasian,no
8,20,12168449794,392265161,Dave,Fry,Bethlehem,PA,RockRoots / Dave Fry,29.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,65 to 74,male,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,NaN,NaN,NaN,1.0,12524300518,402464094,2021-03-25 20:28:35,2021-03-25 20:30:24,64.121.99.93,NaN,Bethlehem,Dave Fry Music,davefrymusic@juno.com,65 to 74,male,no,caucasian,no
9,27,12186034523,392265161,Kevin,Guest,Westborough,MA,Ball in the House,1.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,25 to 34,male,NaN,NaN,NaN,NaN,NaN,NaN,no,latino,NaN,NaN,spanish,NaN,12524017742,402463705,2021-03-25 18:20:44,2021-03-25 18:22:29,96.252.87.129,jon@ballinthehouse.com,Westborough,Ball in the House,kevin.guest5@gmail.com,25 to 34,male,no,latin,no
10,229,12221062766,392265161,Nanette,Hernandez,Jersey City,NJ,"Segunda Quimbamba Folkloric Center, Inc.",3.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,55 to 64,female,NaN,NaN,NaN,Concentration,Remembering,NaN,no,latino,spanish,NaN,spanish,1.0,12525970003,402464094,2021-03-26 10:42:07,2021-03-26 11:00:51,100.1.149.228,NaN,Jersey City,Segunda Quimbamba Folkloric Center,nhernandez89@gmail.com,55 to 64,female,NaN,latin,no
11,100,12291892401,392265161,Cyn,Jones,Philadelphia,PA,Poetry pros,1.0,NaN,YA Workshops & Residencies,NaN,NaN,25 to 34,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,1.0,12530252716,402463705,2021-03-28 16:56:54,2021-03-28 16:58:53,107.77.203.81,cynthia.jones367@gmail.com,Philadelphia,Poetry pros,cynthia.jones367@gmail.com,25 to 34,other,no,caucasian,yes
12,32,12168661849,392265161,Gabrielle,Kanter,New Hope,PA,NaN,10.0,NaN,YA Workshops & Residencies,NaN,NaN,45 to 54,female,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,NaN,NaN,NaN,NaN,12524061775,402463705,2021-03-25 18:39:08,2021-03-25 18:40:47,73.13.85.9,gabriellekanter@aol.com,New Hope,NaN,GabrielleKanter@aol.com,45 to 54,NaN,NaN,NaN,NaN
13,199,12199706675,392265161,Heidi,Latsky,New York City,NY,Heidi Latsky Dance,1.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,NaN,NaN,NaN,NaN,12539115332,402463705,2021-03-31 13:25:39,2021-03-31 13:27:22,173.68.55.133,heidilatskydance@gmail.com,New York City,Heidi Latsky Dance,heidi@heidilatskydance.org,55 to 64,female,no,caucasian,no
14,34,12207513033,392265161,Alice,Leon,Congers,NY,Songwriting and Green Screen videos with Miss ...,6.0,NaN,YA Workshops & Residencies,NaN,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN,1.0,12523991907,402464094,2021-03-25 18:09:03,2021-03-25 18:10:51,174.227.8.208,NaN,Nyack,Songwriting and music videos,Thealiceproject@icloud.com,55 to 64,NaN,NaN,NaN,NaN
15,83,12164275463,392265161,Nico,Li,White Plains,NY,New York Chinese Cultural Center,10.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,35 to 44,female,NaN,NaN,NaN,NaN,NaN,NaN,no,asian,mandarin,NaN,mandarin,NaN,12526023297,402464094,2021-03-26 11:01:43,2021-03-26 11:03:36,67.84.134.44,NaN,White Plains,Dance China New York,engagements@nychineseculturalcenter.org,35 to 44,female,no,asian,no
16,81,12201630913,392265161,Marco,Lienhard,New York City,NY,Taikoza,23.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,spansih,french,french,1.0,12539085402,402463705,2021-03-31 13:15:31,2021-03-31 13:16:42,192.131.42.240,taikoza@gmail.com,New York City,Taikoza,shaku8@mac.com,55 to 64,male,no,caucasian,yes
17,81,12201630913,392265161,Marco,Lienhard,New York City,NY,Taikoza,23.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,spansih,french,french,1.0,12532159298,402464094,2021-03-29 11:47:25,2021-03-29 11:49:17,192.131.42.240,NaN,New York City,Taikoza,shaku8@icloud.com,55 to 64,male,no,caucasian,yes
18,85,12200418338,392265161,Maxine,Lyle,Newark,NJ,Soul Steps,4.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,35 to 44,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,1.0,12531813281,402463705,2021-03-29 10:00:27,2021-03-29 10:02:35,174.225.10.255,maxinelyle@soulsteps.com,Newark,Soul Steps,maxinelyle@soulsteps.com,35 to 44,female,no,african,no
19,72,12164275999,392265161,Laura,Marchese,Montclair,NJ,NaN,2.0,NaN,YA Workshops & Residencies,YA Professional Learning,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,spanish,NaN,NaN,NaN,12523825712,402464094,2021-03-25 17:04:47,2021-03-25 17:06:04,108.53.193.136,NaN,Montclair,NaN,lmarchese@fastlight.com,55 to 64,female,no,caucasian,no
20,52,12246589077,392265161,Genese,Martin,Jersey City,NJ,NaN,5.0,NaN,YA Workshops & Residencies,YA Professional Learning,NaN,35 to 44,female,Seeing,NaN,NaN,NaN,NaN,NaN,no,caucasian,NaN,NaN,NaN,1.0,12523957594,402463705,2021-03-25 17:54:29,2021-03-25 17:59:37,104.6.76.12,genesemartin27@yahoo.com,Jersey City,NaN,Genesemartin27@yahoo.com,35 to 44,female,no,african,no
21,70,12249728194,392265161,Louis,Mofsie,Maywood,NJ,Thunderbird American Indian Dancers,20.0,YA Assembly,NaN,NaN,NaN,75 or older,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other,NaN,NaN,NaN,NaN,12527202974,402463705,2021-03-26 17:45:44,2021-03-26 17:48:34,69.120.212.188,louismofsie@gmail.com,Maywood,Thunderbird American Indian Dancers,louismofsie@gmail.com,75 or older,male,no,african,no
22,108,12200067997,392265161,Adrienne,Ostrander,Verona,NJ,Garden State Percussion Trio,40.0,YA Assembly,NaN,NaN,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,NaN,NaN,NaN,NaN,12530227689,402463705,2021-03-28 16:32:20,2021-03-28 16:33:53,108.53.237.40,ostranderadrienne@gmail.com,Verona,Garden State Percussion Trio,ostranderadrienne@gmail.com,55 to 64,female,no,caucasian,no
23,129,12199721727,392265161,Seth,Reichgott,Philadelphia,PA,Seth Reichgott,20.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,45 to 54,male,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,NaN,NaN,NaN,NaN,12523916715,402463705,2021-03-25 17:34:29,2021-03-25 17:40:17,71.185.31.169,sreichgott@gmail.com,Philadelphia,NaN,sreichgott@gmail.com,45 to 54,male,no,caucasian,no
24,129,12168465992,392265161,Seth,Reichgott,Philadelphia,PA,NaN,20.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,45 to 54,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN,12523916715,402463705,2021-03-25 17:34:29,2021-03-25 17:40:17,71.185.31.169,sreichgott@gmail.com,Philadelphia,NaN,sreichgott@gmail.com,45 to 54,male,no,caucasian,no
25,264,12422303181,392265161,Summer,Reyes,Jersey City,NJ,NaN,1.0,NaN,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,25 to 34,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,asian,spanish,NaN,spanish,1.0,12527512106,402463705,2021-03-26 20:40:37,2021-03-26 20:43:09,98.109.150.188,summerdawnreyes@gmail.com,Jersey City,NaN,summerdawnreyes@gmail.com,25 to 34,female,no,asian,yes
26,264,12164271910,392265161,Summer,Reyes,Jersey City,NJ,In Full Color,1.0,NaN,YA Workshops & Residencies,NaN,NaN,25 to 34,female,NaN,Hearing,NaN,NaN,NaN,NaN,NaN,asian,spanish,Ilonggo,spanish,1.0,12527512106,402463705,2021-03-26 20:40:37,2021-03-26 20:43:09,98.109.150.188,summerdawnreyes@gmail.com,Jersey City,NaN,summerdawnreyes@gmail.com,25 to 34,female,no,asian,yes
27,115,12262690907,392265161,Bruce,rogers,willow grove,PA,Caryn Lin,16.0,YA Assembly,NaN,NaN,NaN,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN,12531680405,402464094,2021-03-29 09:16:58,2021-03-29 09:18:00,68.81.62.132,NaN,willow grove,caryn lin,bruce22051@aol.com,55 to 64,male,no,caucasian,no
28,27,12185537005,392265161,Jon,Ryan,Boston,MA,Ball in the House,20.0,YA Assembly,NaN,NaN,NaN,45 to 54,male,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,NaN,NaN,NaN,NaN,12523813594,402464094,2021-03-25 17:00:09,2021-03-25 17:01:41,64.112.182.5,NaN,Boston,Ball in the House,jon@ballinthehouse.com,45 to 54,male,no,caucasian,no
29,130,12168301999,392265161,Christina,Sanabria,Sterling,VA,123 Andrés,2.0,YA Assembly,NaN,NaN,NaN,35 to 44,female,NaN,NaN,NaN,NaN,NaN,NaN,no,latino,spanish,NaN,spanish,NaN,12523993025,402464094,2021-03-25 18:10:40,2021-03-25 18:11:52,136.37.127.42,NaN,Sterling,123 Andrés,andres@123andres.com,35 to 44,female,no,latin,no
30,135,12164280382,392265161,Rekha,Srinivasan,Bridgewater,NJ,Bhaarat Nritya Academy (BNA),1.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,45 to 54,female,NaN,NaN,NaN,NaN,NaN,NaN,no,other,hindi,NaN,NaN,NaN,12529993011,402463705,2021-03-28 12:59:30,2021-03-28 13:01:57,108.53.62.84,reksrini@gmail.com,Bridgewater,Bhaarat Nritya Academy,reksrini@gmail.com,45 to 54,female,no,asian,no
31,133/56,12202165393,392265161,Eric,Waldman,Vernon,NJ,Bobby Beetcut/ Junk Jam Band,2.0,YA Assembly,NaN,NaN,NaN,45 to 54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12530232089,402463705,2021-03-28 16:35:46,2021-03-28 16:41:26,71.53.149.163,bobby@beetcut.com,Vernon,Bobby Beetcut/ Junk Jam Band,bobby@beetcut.com,45 to 54,male,no,caucasian,no
32,24,12164276693,392265161,Rand,Whipple,Bloomsburg,PA,Box of light,4.0,YA Assembly,NaN,NaN,NaN,65 to 74,male,NaN,NaN,NaN,NaN,NaN,NaN,no,caucasian,spanish,NaN,spanish,NaN,12530450521,402463705,2021-03-28 19:25:09,2021-03-28 19:27:05,72.94.156.153,boxoflight@me.com,Bloomsburg,Box Of Light,boxoflightstudio@gmail.com,65 to 74,male,no,caucasian,no

In [107]:
get_name(d[6])

Workshop Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %,Component Type (Specific),Multiple Artists
0,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2019,Workshop,785,550,0.700637,Stand-alone Workshop,*
1,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2020,Workshop,785,550,0.700637,Stand-alone Workshop,*
2,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2021,Workshop,785,550,0.700637,Stand-alone Workshop,*
3,89.0,Alex Shaw,Brazilian Group Drumming,2011-07-01,2019,Workshop,520,350,0.673077,Residency Workshop,NaN
4,89.0,Alex Shaw,Brazilian Group Drumming,2011-07-01,2020,Workshop,520,350,0.673077,Residency Workshop,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,56.0,Zachary Green,Traditional Stained Glass Painting,2009-12-10,2020,Workshop,510,350,0.686275,Residency Workshop,NaN
341,56.0,Zachary Green,Traditional Stained Glass Painting,2009-12-10,2021,Workshop,510,350,0.686275,Residency Workshop,NaN
342,56.0,Zachary Green,Creating Puppets,2009-12-10,2019,Workshop,525,350,0.666667,Stand-alone Workshop,NaN
343,56.0,Zachary Green,Creating Puppets,2009-12-10,2020,Workshop,510,350,0.686275,Stand-alone Workshop,NaN
344,56.0,Zachary Green,Creating Puppets,2009-12-10,2021,Workshop,510,350,0.686275,Stand-alone Workshop,NaN

In [108]:
get_name(d[6])['Multiple Artists'].value_counts()

Workshop Pricing

*    52
Name: Multiple Artists, dtype: int64

In [109]:
get_name(d[7]).info()

demographic_cleaned_part_1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   artist_id                      71 non-null     object
 1   respondent_id                  73 non-null     int64
 2   collector_id                   73 non-null     int64
 3   first_name                     72 non-null     object
 4   last_name                      71 non-null     object
 5   city                           72 non-null     object
 6   state                          72 non-null     object
 7   company                        59 non-null     object
 8   years_roster                   70 non-null     float64
 9   program_assembly               52 non-null     object
 10  program_workshop_residencies   56 non-null     object
 11  program_professional_learning  17 non-null     object
 12  program_family_arts            19 non-null     object
 13  age                            72 non-null     object
 14  gender                         69 non-null     object
 15  difficulty_seeing              1 non-null      object
 16  difficulty_hearing             3 non-null      object
 17  difficulty_mobility            2 non-null      object
 18  difficulty_concentration       2 non-null      object
 19  difficulty_memory              2 non-null      object
 20  difficulty_errands             2 non-null      object
 21  disabled                       54 non-null     object
 22  ethnicity                      67 non-null     object
 23  secondary_language_speak       24 non-null     object
 24  language_speak_tertiary        5 non-null      object
 25  language_write_secondary       21 non-null     object
 26  other_response_ind             24 non-null     float64
dtypes: float64(2), int64(2), object(23)
memory usage: 15.5+ KB

In [110]:
get_name(d[7]).head()

demographic_cleaned_part_1

,artist_id,respondent_id,collector_id,first_name,last_name,city,state,company,years_roster,program_assembly,program_workshop_residencies,program_professional_learning,program_family_arts,age,gender,difficulty_seeing,difficulty_hearing,difficulty_mobility,difficulty_concentration,difficulty_memory,difficulty_errands,disabled,ethnicity,secondary_language_speak,language_speak_tertiary,language_write_secondary,other_response_ind
0,114,12164276468,392265161,KAREN,ABDUL MALIK,Willingboro,NJ,Stories in Tour w.Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
1,114,12357020326,392265161,Karen,Abdul-Malik,Willingboror,NJ,Stories on Tour w. Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,YA Family Arts & Creativity,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
2,91,12164277807,392265161,Nathan,Alford-Tate,Philadelphia,PA,Almanac Dance Circus Theatre,5.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,25 to 34,male,NaN,NaN,NaN,NaN,NaN,NaN,no,african,spanish,NaN,spanish,NaN
3,16,12200512116,392265161,Robert,Aptaker,Allentown,PA,NaN,14.0,YA Assembly,NaN,NaN,NaN,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN
4,85,12199525231,392265161,Diamond,Avant,Lithonia,GA,Soul Steps LLC,2.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,18 to 24,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN

In [111]:
demo_2

,respondent_id,collector_id,start_date,end_date,ip_address,email_address,first_name,last_name,city,state,company,email,age,gender,disabled,ethnicity,lgbt
0,12546306472,402463705,2021-04-03 14:15:44,2021-04-03 14:17:58,173.54.216.103,yakaffi@aol.com,Candace,Hundley - Kamate,South Orange,NJ,Seventh Principle,yakaffi@aol.com,45 to 54,female,no,african,no
1,12539990029,402463705,2021-03-31 18:56:07,2021-03-31 18:57:51,104.138.128.191,folaafolayan@gmail.com,Folaranmi,Afolayan,Winston Salem,NC,NaN,folaafolayan@gmail.com,25 to 34,female,no,african,yes
2,12539543012,402463705,2021-03-31 15:49:37,2021-03-31 15:57:42,172.58.107.232,gatabravacapoeira@gmail.com,Leigh,Robertson,Lambertville,Nj,Intro to capoeira,gatabravacapoeira@gmail.com,35 to 44,female,no,caucasian,no
3,12539401039,402463705,2021-03-31 15:04:29,2021-03-31 15:06:28,72.77.38.162,cellofury@gmail.com,Nicole,Myers,Pittsburgh,PA,Cello Fury,Info@cellofury.com,35 to 44,female,no,caucasian,no
4,12539189028,402463705,2021-03-31 13:50:57,2021-03-31 13:52:46,67.245.198.221,rainart.david@gmail.com,David,Gonzalez,Rosendale,NY,Rainart Productions/David Gonzalez,rainart.david@gmail.com,55 to 64,other,no,latin,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,12523912743,402463705,2021-03-25 17:36:10,2021-03-25 17:39:05,173.72.120.180,bruceeloise1@gmail.com,Eloise,Bruce,Lawrenceville,NJ,NaN,bruceeloise1@gmail.com,65 to 74,female,yes,caucasian,no
68,12523836345,402463705,2021-03-25 17:08:17,2021-03-25 17:10:03,98.221.87.181,cparks@exptheater.org,Christopher,Parks,Somerset,NJ,NaN,cparks@exptheater.org,45 to 54,male,no,caucasian,no
69,12523825712,402464094,2021-03-25 17:04:47,2021-03-25 17:06:04,108.53.193.136,NaN,Laura,Marchese,Montclair,NJ,NaN,lmarchese@fastlight.com,55 to 64,female,no,caucasian,no
70,12523814089,402464094,2021-03-25 16:59:37,2021-03-25 17:01:50,74.73.10.25,NaN,Anne,Pasquale,New York City,NY,Anne Pasquale's Living History Programs,Apasqnyc@aol.com or Apasqnyc72557@gmail.com,35 to 44,female,no,caucasian,no
71,12523813594,402464094,2021-03-25 17:00:09,2021-03-25 17:01:41,64.112.182.5,NaN,Jon,Ryan,Boston,MA,Ball in the House,jon@ballinthehouse.com,45 to 54,male,no,caucasian,no

In [112]:
demo_1

,artist_id,respondent_id,collector_id,first_name,last_name,city,state,company,years_roster,program_assembly,program_workshop_residencies,program_professional_learning,program_family_arts,age,gender,difficulty_seeing,difficulty_hearing,difficulty_mobility,difficulty_concentration,difficulty_memory,difficulty_errands,disabled,ethnicity,secondary_language_speak,language_speak_tertiary,language_write_secondary,other_response_ind
0,114,12164276468,392265161,KAREN,ABDUL MALIK,Willingboro,NJ,Stories in Tour w.Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
1,114,12357020326,392265161,Karen,Abdul-Malik,Willingboror,NJ,Stories on Tour w. Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,YA Family Arts & Creativity,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
2,91,12164277807,392265161,Nathan,Alford-Tate,Philadelphia,PA,Almanac Dance Circus Theatre,5.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,25 to 34,male,NaN,NaN,NaN,NaN,NaN,NaN,no,african,spanish,NaN,spanish,NaN
3,16,12200512116,392265161,Robert,Aptaker,Allentown,PA,NaN,14.0,YA Assembly,NaN,NaN,NaN,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN
4,85,12199525231,392265161,Diamond,Avant,Lithonia,GA,Soul Steps LLC,2.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,18 to 24,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,93,12169578546,392265161,Mark,Wong,Philadelphia,PA,Hip Hop Fundamentals,5.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,YA Family Arts & Creativity,35 to 44,male,NaN,NaN,NaN,NaN,NaN,NaN,no,asian,NaN,NaN,NaN,NaN
69,466,12164279610,392265161,april,Zay,west windsor,NJ,Hummingbird Arts LLC,2.0,NaN,YA Workshops & Residencies,NaN,NaN,35 to 44,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,1.0
70,26,12170796418,392265161,Hua Hua,Zhang,Boothwyn,PA,Hua Hua Zhang / Visual Expressions,16.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,asian,chinese,NaN,chinese,1.0
71,86,12200879613,392265161,Ramya,NaN,south brunswick,NJ,Nrithyanjali,15.0,YA Assembly,NaN,NaN,NaN,45 to 54,female,NaN,NaN,NaN,NaN,NaN,NaN,no,asian,NaN,NaN,english,NaN
72,NaN,12168307204,392265161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,latino,spanish,NaN,spanish,NaN

In [113]:
joined = demo_1.join(demo_2, on='respondent_id', how='outer', lsuffix='_demo1', rsuffix='_demo2')

In [114]:
joined

,respondent_id,artist_id,respondent_id_demo1,collector_id_demo1,first_name_demo1,last_name_demo1,city_demo1,state_demo1,company_demo1,years_roster,program_assembly,program_workshop_residencies,program_professional_learning,program_family_arts,age_demo1,gender_demo1,difficulty_seeing,difficulty_hearing,difficulty_mobility,difficulty_concentration,difficulty_memory,difficulty_errands,disabled_demo1,ethnicity_demo1,secondary_language_speak,language_speak_tertiary,language_write_secondary,other_response_ind,respondent_id_demo2,collector_id_demo2,start_date,end_date,ip_address,email_address,first_name_demo2,last_name_demo2,city_demo2,state_demo2,company_demo2,email,age_demo2,gender_demo2,disabled_demo2,ethnicity_demo2,lgbt
0.0,12164276468,114,1.216428e+10,392265161.0,KAREN,ABDUL MALIK,Willingboro,NJ,Stories in Tour w.Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,12357020326,114,1.235702e+10,392265161.0,Karen,Abdul-Malik,Willingboror,NJ,Stories on Tour w. Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,YA Family Arts & Creativity,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,12164277807,91,1.216428e+10,392265161.0,Nathan,Alford-Tate,Philadelphia,PA,Almanac Dance Circus Theatre,5.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,25 to 34,male,NaN,NaN,NaN,NaN,NaN,NaN,no,african,spanish,NaN,spanish,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,12200512116,16,1.220051e+10,392265161.0,Robert,Aptaker,Allentown,PA,NaN,14.0,YA Assembly,NaN,NaN,NaN,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,12199525231,85,1.219953e+10,392265161.0,Diamond,Avant,Lithonia,GA,Soul Steps LLC,2.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,18 to 24,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.252391e+10,402463705.0,2021-03-25 17:36:10,2021-03-25 17:39:05,173.72.120.180,bruceeloise1@gmail.com,Eloise,Bruce,Lawrenceville,NJ,NaN,bruceeloise1@gmail.com,65 to 74,female,yes,caucasian,no
NaN,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.252384e+10,402463705.0,2021-03-25 17:08:17,2021-03-25 17:10:03,98.221.87.181,cparks@exptheater.org,Christopher,Parks,Somerset,NJ,NaN,cparks@exptheater.org,45 to 54,male,no,caucasian,no
NaN,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.252383e+10,402464094.0,2021-03-25 17:04:47,2021-03-25 17:06:04,108.53.193.136,NaN,Laura,Marchese,Montclair,NJ,NaN,lmarchese@fastlight.com,55 to 64,female,no,caucasian,no
NaN,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.252381e+10,402464094.0,2021-03-25 16:59:37,2021-03-25 17:01:50,74.73.10.25,NaN,Anne,Pasquale,New York City,NY,Anne Pasquale's Living History Programs,Apasqnyc@aol.com or Apasqnyc72557@gmail.com,35 to 44,female,no,caucasian,no
NaN,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.252381e+10,402464094.0,2021-03-25 17:00:09,2021-03-25 17:01:41,64.112.182.5,NaN,Jon,Ryan,Boston,MA,Ball in the House,jon@ballinthehouse.com,45 to 54,male,no,caucasian,no

In [115]:
demo_1 = get_name(d[7])
demo_2 = get_name(d[8])

demographic_cleaned_part_1
demographic_cleaned_part_2

In [116]:
cols = list(joined.columns[joined.columns.str.contains('demo1|demo2')])

In [117]:
cols.sort()

In [118]:
remove_cols = ['age', 'city', 'collector_id', 'comapny', 'disabled', 'ethnicity', 'first_name', 'gender', 'last_name']

In [119]:
joined[cols]

,age_demo1,age_demo2,city_demo1,city_demo2,collector_id_demo1,collector_id_demo2,company_demo1,company_demo2,disabled_demo1,disabled_demo2,ethnicity_demo1,ethnicity_demo2,first_name_demo1,first_name_demo2,gender_demo1,gender_demo2,last_name_demo1,last_name_demo2,respondent_id_demo1,respondent_id_demo2,state_demo1,state_demo2
0.0,55 to 64,NaN,Willingboro,NaN,392265161.0,NaN,Stories in Tour w.Queen Nur,NaN,no,NaN,african,NaN,KAREN,NaN,female,NaN,ABDUL MALIK,NaN,1.216428e+10,NaN,NJ,NaN
1.0,55 to 64,NaN,Willingboror,NaN,392265161.0,NaN,Stories on Tour w. Queen Nur,NaN,no,NaN,african,NaN,Karen,NaN,female,NaN,Abdul-Malik,NaN,1.235702e+10,NaN,NJ,NaN
2.0,25 to 34,NaN,Philadelphia,NaN,392265161.0,NaN,Almanac Dance Circus Theatre,NaN,no,NaN,african,NaN,Nathan,NaN,male,NaN,Alford-Tate,NaN,1.216428e+10,NaN,PA,NaN
3.0,55 to 64,NaN,Allentown,NaN,392265161.0,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,Robert,NaN,male,NaN,Aptaker,NaN,1.220051e+10,NaN,PA,NaN
4.0,18 to 24,NaN,Lithonia,NaN,392265161.0,NaN,Soul Steps LLC,NaN,no,NaN,african,NaN,Diamond,NaN,female,NaN,Avant,NaN,1.219953e+10,NaN,GA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,65 to 74,NaN,Lawrenceville,NaN,402463705.0,NaN,NaN,NaN,yes,NaN,caucasian,NaN,Eloise,NaN,female,NaN,Bruce,NaN,1.252391e+10,NaN,NJ
NaN,NaN,45 to 54,NaN,Somerset,NaN,402463705.0,NaN,NaN,NaN,no,NaN,caucasian,NaN,Christopher,NaN,male,NaN,Parks,NaN,1.252384e+10,NaN,NJ
NaN,NaN,55 to 64,NaN,Montclair,NaN,402464094.0,NaN,NaN,NaN,no,NaN,caucasian,NaN,Laura,NaN,female,NaN,Marchese,NaN,1.252383e+10,NaN,NJ
NaN,NaN,35 to 44,NaN,New York City,NaN,402464094.0,NaN,Anne Pasquale's Living History Programs,NaN,no,NaN,caucasian,NaN,Anne,NaN,female,NaN,Pasquale,NaN,1.252381e+10,NaN,NY
NaN,NaN,45 to 54,NaN,Boston,NaN,402464094.0,NaN,Ball in the House,NaN,no,NaN,caucasian,NaN,Jon,NaN,male,NaN,Ryan,NaN,1.252381e+10,NaN,MA

In [120]:
demo_1.head()

,artist_id,respondent_id,collector_id,first_name,last_name,city,state,company,years_roster,program_assembly,program_workshop_residencies,program_professional_learning,program_family_arts,age,gender,difficulty_seeing,difficulty_hearing,difficulty_mobility,difficulty_concentration,difficulty_memory,difficulty_errands,disabled,ethnicity,secondary_language_speak,language_speak_tertiary,language_write_secondary,other_response_ind
0,114,12164276468,392265161,KAREN,ABDUL MALIK,Willingboro,NJ,Stories in Tour w.Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,NaN,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
1,114,12357020326,392265161,Karen,Abdul-Malik,Willingboror,NJ,Stories on Tour w. Queen Nur,18.0,YA Assembly,YA Workshops & Residencies,YA Professional Learning,YA Family Arts & Creativity,55 to 64,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN
2,91,12164277807,392265161,Nathan,Alford-Tate,Philadelphia,PA,Almanac Dance Circus Theatre,5.0,YA Assembly,YA Workshops & Residencies,NaN,YA Family Arts & Creativity,25 to 34,male,NaN,NaN,NaN,NaN,NaN,NaN,no,african,spanish,NaN,spanish,NaN
3,16,12200512116,392265161,Robert,Aptaker,Allentown,PA,NaN,14.0,YA Assembly,NaN,NaN,NaN,55 to 64,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caucasian,NaN,NaN,NaN,NaN
4,85,12199525231,392265161,Diamond,Avant,Lithonia,GA,Soul Steps LLC,2.0,YA Assembly,YA Workshops & Residencies,NaN,NaN,18 to 24,female,NaN,NaN,NaN,NaN,NaN,NaN,no,african,NaN,NaN,NaN,NaN

In [121]:
demo_2.head()

,respondent_id,collector_id,start_date,end_date,ip_address,email_address,first_name,last_name,city,state,company,email,age,gender,disabled,ethnicity,lgbt
0,12546306472,402463705,2021-04-03 14:15:44,2021-04-03 14:17:58,173.54.216.103,yakaffi@aol.com,Candace,Hundley - Kamate,South Orange,NJ,Seventh Principle,yakaffi@aol.com,45 to 54,female,no,african,no
1,12539990029,402463705,2021-03-31 18:56:07,2021-03-31 18:57:51,104.138.128.191,folaafolayan@gmail.com,Folaranmi,Afolayan,Winston Salem,NC,NaN,folaafolayan@gmail.com,25 to 34,female,no,african,yes
2,12539543012,402463705,2021-03-31 15:49:37,2021-03-31 15:57:42,172.58.107.232,gatabravacapoeira@gmail.com,Leigh,Robertson,Lambertville,Nj,Intro to capoeira,gatabravacapoeira@gmail.com,35 to 44,female,no,caucasian,no
3,12539401039,402463705,2021-03-31 15:04:29,2021-03-31 15:06:28,72.77.38.162,cellofury@gmail.com,Nicole,Myers,Pittsburgh,PA,Cello Fury,Info@cellofury.com,35 to 44,female,no,caucasian,no
4,12539189028,402463705,2021-03-31 13:50:57,2021-03-31 13:52:46,67.245.198.221,rainart.david@gmail.com,David,Gonzalez,Rosendale,NY,Rainart Productions/David Gonzalez,rainart.david@gmail.com,55 to 64,other,no,latin,no

In [122]:
get_name(d[8]).head()

demographic_cleaned_part_2

,respondent_id,collector_id,start_date,end_date,ip_address,email_address,first_name,last_name,city,state,company,email,age,gender,disabled,ethnicity,lgbt
0,12546306472,402463705,2021-04-03 14:15:44,2021-04-03 14:17:58,173.54.216.103,yakaffi@aol.com,Candace,Hundley - Kamate,South Orange,NJ,Seventh Principle,yakaffi@aol.com,45 to 54,female,no,african,no
1,12539990029,402463705,2021-03-31 18:56:07,2021-03-31 18:57:51,104.138.128.191,folaafolayan@gmail.com,Folaranmi,Afolayan,Winston Salem,NC,NaN,folaafolayan@gmail.com,25 to 34,female,no,african,yes
2,12539543012,402463705,2021-03-31 15:49:37,2021-03-31 15:57:42,172.58.107.232,gatabravacapoeira@gmail.com,Leigh,Robertson,Lambertville,Nj,Intro to capoeira,gatabravacapoeira@gmail.com,35 to 44,female,no,caucasian,no
3,12539401039,402463705,2021-03-31 15:04:29,2021-03-31 15:06:28,72.77.38.162,cellofury@gmail.com,Nicole,Myers,Pittsburgh,PA,Cello Fury,Info@cellofury.com,35 to 44,female,no,caucasian,no
4,12539189028,402463705,2021-03-31 13:50:57,2021-03-31 13:52:46,67.245.198.221,rainart.david@gmail.com,David,Gonzalez,Rosendale,NY,Rainart Productions/David Gonzalez,rainart.david@gmail.com,55 to 64,other,no,latin,no

In [123]:
df = pd.read_excel(file_list[0])

In [ ]:
three_year = get_name(d[6]) # Workshop Pricing

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Artist ID#                 330 non-null    int64
 1   Account Name               330 non-null    object
 2   Program Name               330 non-null    object
 3   Date Joined                317 non-null    datetime64[ns]
 4   Fiscal Year                330 non-null    int64
 5   Component Type (General)   330 non-null    object
 6   Venue Price                330 non-null    int64
 7   Artist's Fee               330 non-null    int64
 8   Artist Fee %               330 non-null    float64
 9   Component Type (Specific)  330 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 25.9+ KB

0          0.0
1        130.0
2        130.0
3        130.0
4        130.0
         ...
11495     59.0
11496     59.0
11497     59.0
11498     56.0
11499     56.0
Name: Artist Payroll ID, Length: 11500, dtype: float64

In [129]:
d = defaultdict()

In [132]:
for artist_id, name in zip(three_year['Artist Payroll ID'], three_year['Artist: Account Name']):
    d[artist_id] = name

In [135]:
three_year['Artist: Account Name']

0                          10HL
1                    123 Andrés
2                    123 Andrés
3                    123 Andrés
4                    123 Andrés
                  ...
11495    Yearning to Learn Inc.
11496    Yearning to Learn Inc.
11497    Yearning to Learn Inc.
11498             Zachary Green
11499             Zachary Green
Name: Artist: Account Name, Length: 11500, dtype: object

In [136]:
three_year[three_year['Artist: Account Name'].str.contains('Zachary')]

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
11498,56.0,Zachary Green,Music,Workshop,2019-05-21,19-0008531,08610,Franklin Elementary School,Family Arts/Creativity,Workshop,300.0,475.0,Zach Green
11499,56.0,Zachary Green,Music,Workshop,2019-05-21,19-0008531,08610,Franklin Elementary School,Family Arts/Creativity,Travel,60.0,25.0,Zach Green

In [124]:
three_year

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
0,0.0,10HL,Dance,Professional Learning,2018-11-15,19-0008036,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,10 Hairy Legs
1,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
2,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
3,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Performance/Demo,700.0,1010.0,"Salsana, LLC"
4,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Travel,90.0,75.0,"Salsana, LLC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,59.0,Yearning to Learn Inc.,Theater,Assembly,2020-03-03,20-0009292,07030,Hoboken Public Library,Library,Performance/Demo,892.0,1275.0,Yearning To Learn Inc.
11496,59.0,Yearning to Learn Inc.,Theater,Assembly,2020-03-03,20-0009292,07030,Hoboken Public Library,Library,Travel,105.0,75.0,Yearning To Learn Inc.
11497,59.0,Yearning to Learn Inc.,NaN,Admin/Project Dev,2020-10-02,21-0009576,08540,Young Audiences New Jersey,Virtual Learning Pilot,Artist Stipend,500.0,500.0,Yearning To Learn Inc.
11498,56.0,Zachary Green,Music,Workshop,2019-05-21,19-0008531,08610,Franklin Elementary School,Family Arts/Creativity,Workshop,300.0,475.0,Zach Green
11499,56.0,Zachary Green,Music,Workshop,2019-05-21,19-0008531,08610,Franklin Elementary School,Family Arts/Creativity,Travel,60.0,25.0,Zach Green