# Young Audiences Data

In [1]:
#!pip3 install fuzzywuzzy
#!pip3 install 'fuzzywuzzy[speedup]'
#!pip3 install matplotlib

In [2]:
import pandas as pd
import glob
from collections import defaultdict
from fuzzywuzzy import process, fuzz
#import matplotlib.pyplot as plt

In [3]:
path = "/Users/jjgong/Desktop/ya-pay-equity/data/raw/"
# Use Glob to retrieve all of the file names
file_list = glob.glob(path+'*.xlsx')
# Sort files
file_list.sort()

## Data Upload

In [4]:
file_list

['/Users/jjgong/Desktop/ya-pay-equity/data/raw/Performance Pair Pricing.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Professional Learning Pricing.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Single Assembly Pricing.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Teaching Artist Demographics Collection 2021.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Teaching Artist Demographics Collection Short 04 06 21.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Three Year Sales Report.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Workshop Pricing.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/demographic_cleaned_part_1.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/demographic_cleaned_part_2.xlsx']

In [5]:
d = defaultdict(lambda: defaultdict())
for i,f in enumerate(file_list):
    d[i]['name'] = f[71:-5]
    d[i]['file'] = pd.read_excel(f)

In [6]:
# Get title and file
def get_name(d):
    print(d['name'])
    return d['file']

In [7]:
pd.set_option("max_columns", 500)

## Pricing Data

In [ ]:
# Is null
#get_name(d[8])['company'].isna().sum()

In [ ]:
#get_name(d[1]).head()

In [ ]:
get_name(d[2]).head() # Single Performance – one assembly in a school

In [ ]:
get_name(d[5]).head() # Three Year Sales Report

In [ ]:
#get_name(d[3]).columns

In [ ]:
get_name(d[7]).head(3) #columns - demographics data - Teaching Artist Demographics Collection 2021

In [ ]:
#get_name(d[3])

In [ ]:
#df = get_name(d[2])
#df[['First Name', 'Last Name']] = df['Account Name'].str.split(' ', 1, expand=True)
#df

In [ ]:
#get_name(d[4]).head() #- demographics data part 2 - Teaching Artist Demographics Collection Short 04 06 21

## Artist Info:

1. Number of teachers / performers-- Yes we know this- Working on getting the report.  Will provide shortly.

2. Number of years of experience –We know # of years most artists have worked for us.  Their start date is on the pricing reports.  We do not collect data on how long they have been practicing the art form. 

3. Professional certifications – We do not collect this data.

## Purchasing Entity:

1. Number of attendees / class size -- We collect that information from the school.  Working on updating the sales report to include this information. 

2. Age group of attendees / class  -- We collect that information from the school.  Working on updating the sales report to include this information

3. Number of sessions – depends on the number of students, the size of the performance or workshop space, size of the sound system,  and the needs of the artist. Most assembly artists will do 250-300 students as a single performance and if more want us to schedule a second performance.  Some artists will do as many students as the space will fit as one performance as they have a large sound system and like performing for large groups.  It’s best to keep performances within a three grade span but often schools can’t afford the time or money for multiple shows.  Workshops are always 25 students or less per workshop.  No more than four in a day unless negotiated with the artist and they are paid more.

4. Length of each session – most sessions are 45 minutes

5. Genre/instrument of art form general_discipline: This is tracked on our yearly Chapter Report by our National Office into these 5 categories:  Music, Theatre, Dance, Visual Art, Literary, and Media. ( Literary Art and Literary Arts is one in the same.

In [ ]:
# Professional Learning Pricing - Artist is teaching Teachers how to use their art in the classroom
professional_learning = get_name(d[1])
professional_learning.head(5)

In [ ]:
single_assembly = get_name(d[2]).head() # Single Performance – one assembly in a school
single_assembly

In [ ]:
workshop_pricing = get_name(d[6]) # Workshop Pricing

In [ ]:
workshop_pricing.head() # These are workshops

## Three Year Sales Data

In [8]:
three_year = get_name(d[5])

In [9]:
# Mapping for IDs 
id_map = defaultdict()
for aid, an in zip(three_year['Artist Payroll ID'], three_year['Artist: Account Name']):
    if pd.isnull(aid)==False:
        id_map[an] = aid

In [10]:
# Map the unmapped artist IDs
three_year.loc[three_year[pd.isnull(three_year['Artist Payroll ID'])].index, ['Artist Payroll ID']] = three_year[pd.isnull(three_year['Artist Payroll ID'])]['Artist: Account Name'].apply(lambda x: d.get(x, float('NaN')))
# Literary Art to Literary Arts
three_year.loc[three_year[three_year['Art Form (General Discipline)']=='Literary Arts'].index, ['Art Form (General Discipline)']] = 'Literary Art'

In [11]:
three_year.head()

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
0,0.0,10HL,Dance,Professional Learning,2018-11-15,19-0008036,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,10 Hairy Legs
1,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
2,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
3,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Performance/Demo,700.0,1010.0,"Salsana, LLC"
4,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Travel,90.0,75.0,"Salsana, LLC"

In [13]:
three_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11500 entries, 0 to 11499
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Artist Payroll ID              11491 non-null  float64
 1   Artist: Account Name           11500 non-null  object
 2   Art Form (General Discipline)  11385 non-null  object
 3   Contract Classification        11498 non-null  object
 4   Date                           11500 non-null  datetime64[ns]
 5   Contract #                     11500 non-null  object
 6   Client Zip Code                11499 non-null  object
 7   Client                         11500 non-null  object
 8   Billing Code                   11500 non-null  object
 9   Component Type                 11500 non-null  object
 10  Artist Fee                     11500 non-null  float64
 11  Sale Price                     11500 non-null  float64
 12  Artist Business name           11494 non-null  object
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 1.1+ MB

In [15]:
three_year.to_excel('sales_data.xlsx')

In [ ]:
#three_year[pd.isnull(three_year['Artist Payroll ID'])]

In [16]:
three_year['Artist Business name'].value_counts().head()

Hip Hop Fundamentals    885
TAHIRA                  578
Molly Gaston Johnson    560
Laura Marchese          435
Karen Abdul-Malik       414
Name: Artist Business name, dtype: int64

In [17]:
len(three_year[three_year['Sale Price']>three_year['Artist Fee']])

6826

In [18]:
len(three_year[three_year['Sale Price']==three_year['Artist Fee']])

4229

In [19]:
len(three_year[three_year['Sale Price']<three_year['Artist Fee']])

445

In [20]:
three_year[three_year['Sale Price']<three_year['Artist Fee']]['Component Type'].value_counts()

Travel                 349
Performance/Demo        39
Cartage                 25
Other                   12
Workshop                10
Materials                6
Planning Meeting         3
Virtual Performance      1
Name: Component Type, dtype: int64

In [21]:
three_year['Sale Price']-three_year['Artist Fee']

0        150.0
1        245.0
2        245.0
3        310.0
4        -15.0
         ...
11495    383.0
11496    -30.0
11497      0.0
11498    175.0
11499    -35.0
Length: 11500, dtype: float64

In [22]:
three_year['Sale Price'].value_counts().head()

75.0     2568
127.5     528
125.0     364
87.5      300
170.0     290
Name: Sale Price, dtype: int64

In [23]:
three_year['Artist Fee'].value_counts().head()

75.00     1097
87.50      903
60.00      565
116.67     552
25.00      500
Name: Artist Fee, dtype: int64

In [24]:
round(three_year['Component Type'].value_counts()/sum(three_year['Component Type'].value_counts()),4)*100

Workshop                         37.45
Travel                           25.24
Performance/Demo                 15.41
Virtual Workshop                  6.50
Professional Learning             6.17
Virtual Performance               2.21
Virtual Professional Learning     1.72
Planning Meeting                  1.52
Materials                         1.16
Artist Stipend                    0.77
Other                             0.69
Virtual Planning Meeting          0.44
Cartage                           0.22
Artist Meeting                    0.15
Administrative Fee                0.12
Wait Time                         0.10
Teacher Stipend                   0.08
Virtual Meet and Greet            0.05
Field Trip                        0.01
Name: Component Type, dtype: float64

In [25]:
three_year['Component Type'].value_counts()

Workshop                         4307
Travel                           2903
Performance/Demo                 1772
Virtual Workshop                  747
Professional Learning             709
Virtual Performance               254
Virtual Professional Learning     198
Planning Meeting                  175
Materials                         133
Artist Stipend                     89
Other                              79
Virtual Planning Meeting           51
Cartage                            25
Artist Meeting                     17
Administrative Fee                 14
Wait Time                          11
Teacher Stipend                     9
Virtual Meet and Greet              6
Field Trip                          1
Name: Component Type, dtype: int64

In [26]:
three_year['Component Type'].isin(['Workshop', 'Performance/Demo', 'Virtual Performance', ''])

0        False
1         True
2         True
3         True
4        False
         ...
11495     True
11496    False
11497    False
11498     True
11499    False
Name: Component Type, Length: 11500, dtype: bool

In [27]:
three_year['Billing Code'].value_counts().head()

Program Services      3424
AIE                   1891
Creative Incubator     958
Dodge Theater          837
YAEP                   598
Name: Billing Code, dtype: int64

In [ ]:
three_year['Artist Payroll ID'].nunique()

In [ ]:
three_year['Artist: Account Name'].nunique()

In [ ]:
three_year['Art Form (General Discipline)'].value_counts()

In [ ]:
round(three_year['Art Form (General Discipline)'].value_counts()/sum(three_year['Art Form (General Discipline)'].value_counts()), 4)*100

In [ ]:
three_year['Contract Classification'].value_counts()

In [ ]:
three_year['Date'].min(), three_year['Date'].max()

In [ ]:
three_year['Date'].dt.to_period('M').value_counts().head()

In [ ]:
three_year.info()

In [ ]:
three_year.groupby(pd.Grouper(key='Date', freq='M'))

In [ ]:
three_year[]

In [ ]:
three_year.describe()

In [ ]:
three_year.info()

In [ ]:
demo_1 = get_name(d[7])
demo_1.head()

In [ ]:
demo_2 = get_name(d[8])
demo_2.head()

In [ ]:
# from fuzzbuzz import fuzz
# from fuzzbuzz import process

In [ ]:

#Iterate through indicationsa to see if there's a match with dosages
for ind in indications:
    eo = process.extractOne(ind, d_keys, scorer=fuzz.partial_token_sort_ratio)
    dosage_ind = eo[0]
    score = eo[1]
    dosage = dosages[dosage_ind]
    if score<=50: #If low fuzzy match score then don't add
        dosage_ind, dosage, score = None, None, None
    df = df.append({'indication': ind, 'dosage_ind': dosage_ind, 'dosage': dosage, 'score': score}, ignore_index=True)

return df

In [ ]:
demo_1.merge(demo_2, on=['first_name', 'last_name', 'state'])

In [ ]:
get_name(d[6])

In [ ]:
get_name(d[6])['Multiple Artists'].value_counts()

In [ ]:
get_name(d[7]).info()

In [ ]:
get_name(d[7]).head()

In [ ]:
demo_2

In [ ]:
demo_1

In [ ]:
joined = demo_1.join(demo_2, on='respondent_id', how='outer', lsuffix='_demo1', rsuffix='_demo2')

In [ ]:
joined

In [ ]:
demo_1 = get_name(d[7])
demo_2 = get_name(d[8])

In [ ]:
cols = list(joined.columns[joined.columns.str.contains('demo1|demo2')])

In [ ]:
cols.sort()

In [ ]:
remove_cols = ['age', 'city', 'collector_id', 'comapny', 'disabled', 'ethnicity', 'first_name', 'gender', 'last_name']

In [ ]:
joined[cols]

In [ ]:
demo_1.head()

In [ ]:
demo_2.head()

In [ ]:
get_name(d[8]).head()

In [ ]:
df = pd.read_excel(file_list[0])

In [ ]:
three_year = get_name(d[6]) # Workshop Pricing

In [ ]:
df.info()

In [ ]:
d = defaultdict()

In [ ]:
for artist_id, name in zip(three_year['Artist Payroll ID'], three_year['Artist: Account Name']):
    d[artist_id] = name

In [ ]:
three_year['Artist: Account Name']

In [ ]:
three_year[three_year['Artist: Account Name'].str.contains('Zachary')]

In [ ]:
three_year