# Young Audiences Data

In [ ]:
#!pip3 install fuzzywuzzy
#!pip3 install 'fuzzywuzzy[speedup]'
#!pip3 install matplotlib

In [1]:
import pandas as pd
import glob
from collections import defaultdict
from fuzzywuzzy import process, fuzz
#import matplotlib.pyplot as plt

In [2]:
path = "/Users/jjgong/Desktop/ya-pay-equity/data/raw/"
# Use Glob to retrieve all of the file names
file_list = glob.glob(path+'*.xlsx')
# Sort files
file_list.sort()

## Data Upload

In [3]:
file_list

['/Users/jjgong/Desktop/ya-pay-equity/data/raw/Performance Pair Pricing.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Professional Learning Pricing.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Single Assembly Pricing.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Teaching Artist Demographics Collection 2021.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Teaching Artist Demographics Collection Short 04 06 21.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Three Year Sales Report.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/Workshop Pricing.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/demographic_cleaned_part_1.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/demographic_cleaned_part_2.xlsx',
 '/Users/jjgong/Desktop/ya-pay-equity/data/raw/demographic_snapshot.xlsx']

In [31]:
d = defaultdict(lambda: defaultdict())
for i,f in enumerate(file_list):
    d[i]['name'] = file_list[i][45:-5]
    d[i]['file'] = pd.read_excel(f)

In [32]:
# Get title and file
def get_name(d):
    print(d['name'])
    return d['file']

In [33]:
pd.set_option("max_columns", 500)

## Pricing Data

In [7]:
# Is null
#get_name(d[8])['company'].isna().sum()

In [8]:
get_name(d[0]).head(3) #columns - demographics data - Teaching Artist Demographics Collection 2021

Performance Pair Pricing

,Artist ID#,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %,Component Type (Specific)
0,133,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2020,Performance/Demo,875,600,0.685714,Back to Back Performance
1,133,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2021,Performance/Demo,875,600,0.685714,Back to Back Performance
2,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2019,Performance/Demo,950,650,0.684211,Back to Back Performance

In [9]:
get_name(d[1]).head()

Professional Learning Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %
0,50,Baba Bomani,Virtual: Hip Hop Culture Empowers Student Writ...,2018-07-01,2021,Virtual Professional Learning,200,90,0.45
1,50,Baba Bomani,Virtual: Hip Hop Culture Empowers Student Writ...,2018-07-01,2021,Virtual Professional Learning,300,135,0.45
2,102,Chris Parks,Dodge Theatre to Learn,2000-07-01,2020,Professional Learning,200,200,1.00
3,102,Chris Parks,AIE - Theatre Residency,2000-07-01,2020,Professional Learning,300,300,1.00
4,17,David Harrell,Dodge Theatre Professional Development,2013-07-01,2019,Professional Learning,225,225,1.00

In [10]:
get_name(d[2]).head() # Single Performance – one assembly in a school

Single Assembly Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %,Component Type (Specific)
0,33,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2020,Performance/Demo,650,450,0.692308,Single Performance
1,133,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2021,Performance/Demo,650,450,0.692308,Single Performance
2,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2019,Performance/Demo,725,500,0.689655,Single Performance
3,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2020,Performance/Demo,725,500,0.689655,Single Performance
4,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2021,Performance/Demo,725,500,0.689655,Single Performance

In [11]:
get_name(d[5]).head() # Three Year Sales Report

Three Year Sales Report

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
0,0.0,10HL,Dance,Professional Learning,2018-11-15,19-0008036,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,10 Hairy Legs
1,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
2,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
3,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Performance/Demo,700.0,1010.0,"Salsana, LLC"
4,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Travel,90.0,75.0,"Salsana, LLC"

In [12]:
#get_name(d[3]).columns

In [13]:
d.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
#get_name(d[3])

In [15]:
#df = get_name(d[2])
#df[['First Name', 'Last Name']] = df['Account Name'].str.split(' ', 1, expand=True)
#df

In [16]:
#get_name(d[4]).head() #- demographics data part 2 - Teaching Artist Demographics Collection Short 04 06 21

## Artist Info:

1. Number of teachers / performers-- Yes we know this- Working on getting the report.  Will provide shortly.

2. Number of years of experience –We know # of years most artists have worked for us.  Their start date is on the pricing reports.  We do not collect data on how long they have been practicing the art form. 

3. Professional certifications – We do not collect this data.

## Purchasing Entity:

1. Number of attendees / class size -- We collect that information from the school.  Working on updating the sales report to include this information. 

2. Age group of attendees / class  -- We collect that information from the school.  Working on updating the sales report to include this information

3. Number of sessions – depends on the number of students, the size of the performance or workshop space, size of the sound system,  and the needs of the artist. Most assembly artists will do 250-300 students as a single performance and if more want us to schedule a second performance.  Some artists will do as many students as the space will fit as one performance as they have a large sound system and like performing for large groups.  It’s best to keep performances within a three grade span but often schools can’t afford the time or money for multiple shows.  Workshops are always 25 students or less per workshop.  No more than four in a day unless negotiated with the artist and they are paid more.

4. Length of each session – most sessions are 45 minutes

5. Genre/instrument of art form general_discipline: This is tracked on our yearly Chapter Report by our National Office into these 5 categories:  Music, Theatre, Dance, Visual Art, Literary, and Media. ( Literary Art and Literary Arts is one in the same.

In [17]:
# Professional Learning Pricing - Artist is teaching Teachers how to use their art in the classroom
professional_learning = get_name(d[1])
professional_learning.head(5)

Professional Learning Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %
0,50,Baba Bomani,Virtual: Hip Hop Culture Empowers Student Writ...,2018-07-01,2021,Virtual Professional Learning,200,90,0.45
1,50,Baba Bomani,Virtual: Hip Hop Culture Empowers Student Writ...,2018-07-01,2021,Virtual Professional Learning,300,135,0.45
2,102,Chris Parks,Dodge Theatre to Learn,2000-07-01,2020,Professional Learning,200,200,1.00
3,102,Chris Parks,AIE - Theatre Residency,2000-07-01,2020,Professional Learning,300,300,1.00
4,17,David Harrell,Dodge Theatre Professional Development,2013-07-01,2019,Professional Learning,225,225,1.00

In [18]:
d[3]['name']

'Teaching Artist Demographics Collection 2021'

In [19]:
single_assembly = get_name(d[2]).head() # Single Performance – one assembly in a school
single_assembly

Single Assembly Pricing

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %,Component Type (Specific)
0,33,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2020,Performance/Demo,650,450,0.692308,Single Performance
1,133,Bobby Beetcut,Your Life is a Work of Art,2019-05-30,2021,Performance/Demo,650,450,0.692308,Single Performance
2,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2019,Performance/Demo,725,500,0.689655,Single Performance
3,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2020,Performance/Demo,725,500,0.689655,Single Performance
4,50,Baba Bomani,BabaGotB.A.R.S.,2018-07-01,2021,Performance/Demo,725,500,0.689655,Single Performance

In [20]:
workshop_pricing = get_name(d[6]) # Workshop Pricing

Workshop Pricing

In [21]:
workshop_pricing.head() # These are workshops

,Artist ID,Account Name,Program Name,Date Joined,Fiscal Year,Component Type (General),Venue Price,Artist's Fee,Artist Fee %,Component Type (Specific),Multiple Artists
0,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2019,Workshop,785,550,0.700637,Stand-alone Workshop,*
1,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2020,Workshop,785,550,0.700637,Stand-alone Workshop,*
2,51.0,AATMA Performing Arts,Dances of India,2016-07-01,2021,Workshop,785,550,0.700637,Stand-alone Workshop,*
3,89.0,Alex Shaw,Brazilian Group Drumming,2011-07-01,2019,Workshop,520,350,0.673077,Residency Workshop,NaN
4,89.0,Alex Shaw,Brazilian Group Drumming,2011-07-01,2020,Workshop,520,350,0.673077,Residency Workshop,NaN

## Three Year Sales Data

In [34]:
three_year = get_name(d[5])
three_year.columns = [col.strip() for col in list(three_year.columns)]

Three Year Sales Report

In [35]:
# Mapping for IDs 
id_map = defaultdict()
for aid, an in zip(three_year['Artist Payroll ID'], three_year['Artist: Account Name']):
    if pd.isnull(aid)==False:
        id_map[an] = aid

In [36]:
# Map the unmapped artist IDs
three_year.loc[three_year[pd.isnull(three_year['Artist Payroll ID'])].index, ['Artist Payroll ID']] = three_year[pd.isnull(three_year['Artist Payroll ID'])]['Artist: Account Name'].apply(lambda x: d.get(x, float('NaN')))
# Literary Art to Literary Arts
three_year.loc[three_year[three_year['Art Form (General Discipline)']=='Literary Arts'].index, ['Art Form (General Discipline)']] = 'Literary Art'

In [37]:
three_year.head()

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
0,0.0,10HL,Dance,Professional Learning,2018-11-15,19-0008036,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,10 Hairy Legs
1,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
2,130.0,123 Andrés,Music,Assembly,2019-09-10,20-0008665,19808,Anna P Mote Elem,Program Services,Performance/Demo,550.0,795.0,"Salsana, LLC"
3,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Performance/Demo,700.0,1010.0,"Salsana, LLC"
4,130.0,123 Andrés,Music,Assembly,2020-03-12,20-0008689,07514,Calvary Baptist Preschool,Program Services,Travel,90.0,75.0,"Salsana, LLC"

In [30]:
# Map missing names
three_year['Artist Payroll ID'] = three_year.apply(lambda x: id_map.get(x['Artist: Account Name']) if pd.isnull(x['Artist Payroll ID']) else x, axis=1)['Artist: Account Name']

In [39]:
three_year[pd.isnull(three_year['Artist Payroll ID'])]

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
50,NaN,123 Andrés,Music,Assembly,2021-06-02,21-0009884,08690,Mercer Elementary School,Arts Impact Initiative,Virtual Performance,700.0,1010.0,"Salsana, LLC"
105,NaN,AATMA Performing Arts,Dance,Assembly,2019-11-25,20-0008982,19004,French International School,YAEP,Performance/Demo,750.0,1082.5,AATMA Performing Arts
148,NaN,Alborada Spanish Dance Theatre,Dance,Assembly,2019-12-03,20-0009088,08618,9th Grade Academy,Adopt a School,Travel,30.0,75.0,Alborada Spanish Dance Theatre
152,NaN,Alden Phelps,Music,Assembly,2019-04-03,19-0008257,08753,Silver Bay Elem School,Arts Lab- Toms River,Performance/Demo,375.0,545.0,Alden Phelps
165,NaN,Alex Shaw,Music,Professional Learning,2021-03-11,21-0009872,08540,Young Audiences New Jersey,Dodge Theater,Professional Learning,350.0,350.0,Alex Shaw
2114,NaN,Deborah Owens,NaN,Admin/Project Dev,2021-03-15,21-0009889,08540,Young Audiences New Jersey,UWC YA Match,Teacher Stipend,200.0,200.0,Deborah Owens
2115,NaN,Derling Dance Arts,Dance,Professional Learning,2019-02-06,19-0008302,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,Derlling Dance Arts
2116,NaN,Dr. Ronah Harris,NaN,Admin/Project Dev,2020-10-02,21-0009574,08540,Young Audiences New Jersey,Virtual Learning Pilot,Artist Stipend,500.0,500.0,Dr. Ronah Harris
9540,NaN,Roxey Ballet,Dance,Professional Learning,2018-11-02,19-0008035,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,NaN

In [41]:
# Artist Payroll ID. Map some unmapped one
three_year['Artist Payroll ID'] = three_year.apply(lambda x: id_map.get(x['Artist: Account Name']) if pd.isnull(x['Artist Payroll ID']) else x, axis=1)['Artist Payroll ID']

In [43]:
three_year[pd.isnull(three_year['Artist Payroll ID'])]

,Artist Payroll ID,Artist: Account Name,Art Form (General Discipline),Contract Classification,Date,Contract #,Client Zip Code,Client,Billing Code,Component Type,Artist Fee,Sale Price,Artist Business name
2114,NaN,Deborah Owens,NaN,Admin/Project Dev,2021-03-15,21-0009889,08540,Young Audiences New Jersey,UWC YA Match,Teacher Stipend,200.0,200.0,Deborah Owens
2115,NaN,Derling Dance Arts,Dance,Professional Learning,2019-02-06,19-0008302,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,Derlling Dance Arts
2116,NaN,Dr. Ronah Harris,NaN,Admin/Project Dev,2020-10-02,21-0009574,08540,Young Audiences New Jersey,Virtual Learning Pilot,Artist Stipend,500.0,500.0,Dr. Ronah Harris
9540,NaN,Roxey Ballet,Dance,Professional Learning,2018-11-02,19-0008035,08540,Young Audiences New Jersey,Dodge Dance,Professional Learning,350.0,500.0,NaN

In [ ]:
id_map['123 Andrés']

In [ ]:
three_year[pd.isnull(three_year['Artist Payroll ID'])]

In [ ]:
three_year.head()

In [ ]:
demographic = get_name(d[9])
dd = demographic.copy()
# Remove Unamed column
demographic = demographic.drop(labels=['Unnamed: 0'], axis=1)
# Drop duplicates
demographic = demographic.drop_duplicates(subset=['artist_id'], keep='last').reset_index(drop=True)

In [ ]:
dd[dd['artist_id']==133]

In [ ]:
demographic

In [ ]:
len(three_year)

In [ ]:
three_year['Component Type'].value_counts()

In [ ]:
# Retrieve top 10 components
top_components = list(three_year['Component Type'].value_counts()[:9].index)
top_components.remove('Travel')
top_components.remove('Materials')
top_components.append('Virtual Planning Meeting')

In [ ]:
top_components

In [ ]:
# Group by
three_yr_grp = three_year.groupby(['Artist Payroll ID', 'Artist: Account Name', 'Art Form (General Discipline)', 'Contract Classification', 'Date', 'Contract #', 'Client Zip Code', 'Client', 'Billing Code', 'Component Type', 'Artist Business name']).sum()['Artist Fee'].reset_index().reset_index(drop=True)

In [ ]:
# Retrieve only top performances. Remove other components
three_year_cnt = three_year[three_year['Component Type'].isin(top_components)].copy()

In [ ]:
len(three_year_cnt)

In [ ]:
# Retrieve only top performances. Remove other components
three_yr_grp = three_yr_grp[three_yr_grp['Component Type'].isin(top_components)].copy()

In [ ]:
len(three_yr_grp)

### Review unique artists

In [ ]:
# Retrieve unique artists
unique_artists = three_yr_grp.drop_duplicates(subset=['Artist Payroll ID', 'Artist: Account Name'])[['Artist Payroll ID', 'Artist: Account Name']].reset_index(drop=True)

In [ ]:
unique_artists['Artist Payroll ID'].value_counts().iloc[:4]

In [ ]:
unique_artists[unique_artists['Artist Payroll ID']==95.0]

In [ ]:
demographic[demographic['artist_id']==95]

In [ ]:
len(three_yr_grp[three_yr_grp['Artist: Account Name']=='Josh Robinson'])

In [ ]:
len(three_yr_grp[three_yr_grp['Artist: Account Name']=='Poetry Meets Percussion'])

In [ ]:
len(three_yr_grp[three_yr_grp['Artist: Account Name']=='Samba to Salsa'])

In [ ]:
unique_artists[unique_artists['Artist Payroll ID']==0]

In [ ]:
demographic[demographic['artist_id']==0]

In [ ]:
three_yr_grp[three_yr_grp['Artist: Account Name']=='10HL'].head()

In [ ]:
len(three_yr_grp[three_yr_grp['Artist: Account Name']=='10HL'])

In [ ]:
len(three_yr_grp[three_yr_grp['Artist: Account Name']=='Oyin Hardy'])

In [ ]:
unique_artists[unique_artists['Artist Payroll ID']==20]

In [ ]:
demographic[demographic['artist_id']==20]

In [ ]:
len(three_yr_grp[three_yr_grp['Artist: Account Name']=='Dave Fry'])

In [ ]:
len(three_yr_grp[three_yr_grp['Artist: Account Name']=='RockRoots'])

In [ ]:
unique_artists[unique_artists['Artist Payroll ID']==56]

In [ ]:
demographic[demographic['artist_id']==56]

In [ ]:
len(three_yr_grp[three_yr_grp['Artist: Account Name']=='The Junk Jam Band'])

In [ ]:
three_yr_grp[three_yr_grp['Artist: Account Name']=='Zachary Green'].head()

In [ ]:
#unique_artists['Artist: Account Name'].value_counts()

In [ ]:
joined = three_yr_grp.merge(demographic, how='outer', left_on='Artist Payroll ID', right_on='artist_id')

In [ ]:
len(joined)

In [ ]:
num_include = list(set(joined['Artist Payroll ID'])-set([95, 0, 20, 56]))

In [ ]:
included_df = joined[joined['Artist Payroll ID'].isin(num_include)]

In [ ]:
null_demo = included_df[pd.isnull(included_df['artist_id'])].copy().reset_index(drop=True)

In [ ]:
demo = included_df[~pd.isnull(included_df['artist_id'])].copy().reset_index(drop=True)

In [ ]:
len(null_demo)

In [ ]:
len(demo)

In [ ]:
len(demo)/(len(null_demo)+len(demo))

In [ ]:
demo['Artist Payroll ID'].nunique()

In [ ]:
len(demo)/(len(null_demo)+len(demo))

In [ ]:
null_demo['Artist Payroll ID'].nunique()

In [ ]:
p = three_year[pd.isnull(three_year['Artist Payroll ID'])]
p = three_year.drop_duplicates(['Artist Payroll ID', 'Artist: Account Name'])

In [ ]:
demo.head()

In [ ]:
demo[demo['age']=='75 or older']

In [ ]:
demo.to_excel('demographics.xlsx')

## Null Demo

In [ ]:
len(joined)

In [ ]:
null_demo

## Demo

In [ ]:
null_demo

In [ ]:
demo['Artist Payroll ID'].nunique()

In [ ]:
demo['Artist Payroll ID'].nunique()

In [ ]:
demographic[demographic['artist_id']==133]

In [ ]:
three_yr_grp

In [ ]:
three_year.info()

In [ ]:
three_year.to_excel('sales_data.xlsx')

In [ ]:
#three_year[pd.isnull(three_year['Artist Payroll ID'])]

In [ ]:
three_year['Artist Business name'].value_counts().head()

In [ ]:
len(three_year[three_year['Sale Price']>three_year['Artist Fee']])

In [ ]:
len(three_year[three_year['Sale Price']==three_year['Artist Fee']])

In [ ]:
len(three_year[three_year['Sale Price']<three_year['Artist Fee']])

In [ ]:
three_year[three_year['Sale Price']<three_year['Artist Fee']]['Component Type'].value_counts()

In [ ]:
three_year_cnt['Artist Fee'].mean()

In [ ]:
three_yr_grp['Artist Fee'].mean()

In [ ]:
three_year[three_year['Component Type']=='Workshop']['Sale Price'].mean()

In [ ]:
three_year[three_year['Component Type']=='Travel']['Artist Fee'].mean()

In [ ]:
three_year[three_year['Component Type']=='Workshop']['Artist Fee'].mean()

In [ ]:
three_year['Sale Price']-three_year['Artist Fee']

In [ ]:
three_year['Sale Price'].value_counts().head()

In [ ]:
three_year['Artist Fee'].value_counts().head()

In [ ]:
round(three_year['Component Type'].value_counts()/sum(three_year['Component Type'].value_counts()),4)*100

In [ ]:
three_year['Component Type'].value_counts()

In [ ]:
three_year['Component Type'].isin(['Workshop', 'Performance/Demo', 'Virtual Performance', ''])

In [ ]:
three_year['Billing Code'].value_counts().head()

In [ ]:
three_year['Artist Payroll ID'].nunique()

In [ ]:
three_year['Artist: Account Name'].nunique()

In [ ]:
three_year['Art Form (General Discipline)'].value_counts()

In [ ]:
round(three_year['Art Form (General Discipline)'].value_counts()/sum(three_year['Art Form (General Discipline)'].value_counts()), 4)*100

In [ ]:
three_year['Contract Classification'].value_counts()

In [ ]:
three_year['Date'].min(), three_year['Date'].max()

In [ ]:
three_year['Date'].dt.to_period('M').value_counts().head()

In [ ]:
three_year.info()

In [ ]:
three_year.groupby(pd.Grouper(key='Date', freq='M'))

In [ ]:
three_year.describe()

In [ ]:
three_year.info()

In [ ]:
demo_1 = get_name(d[7])
demo_1.head()

In [ ]:
demo_2 = get_name(d[8])
demo_2.head()

In [ ]:
# from fuzzbuzz import fuzz
# from fuzzbuzz import process

In [ ]:

#Iterate through indicationsa to see if there's a match with dosages
for ind in indications:
    eo = process.extractOne(ind, d_keys, scorer=fuzz.partial_token_sort_ratio)
    dosage_ind = eo[0]
    score = eo[1]
    dosage = dosages[dosage_ind]
    if score<=50: #If low fuzzy match score then don't add
        dosage_ind, dosage, score = None, None, None
    df = df.append({'indication': ind, 'dosage_ind': dosage_ind, 'dosage': dosage, 'score': score}, ignore_index=True)

return df

In [ ]:
demo_1.merge(demo_2, on=['first_name', 'last_name', 'state'])

In [ ]:
get_name(d[6])

In [ ]:
get_name(d[6])['Multiple Artists'].value_counts()

In [ ]:
get_name(d[7]).info()

In [ ]:
get_name(d[7]).head()

In [ ]:
demo_2

In [ ]:
demo_1

In [ ]:
joined = demo_1.join(demo_2, on='respondent_id', how='outer', lsuffix='_demo1', rsuffix='_demo2')

In [ ]:
joined

In [ ]:
demo_1 = get_name(d[7])
demo_2 = get_name(d[8])

In [ ]:
cols = list(joined.columns[joined.columns.str.contains('demo1|demo2')])

In [ ]:
cols.sort()

In [ ]:
remove_cols = ['age', 'city', 'collector_id', 'comapny', 'disabled', 'ethnicity', 'first_name', 'gender', 'last_name']

In [ ]:
joined[cols]

In [ ]:
demo_1.head()

In [ ]:
demo_2.head()

In [ ]:
get_name(d[8]).head()

In [ ]:
df = pd.read_excel(file_list[0])

In [ ]:
three_year = get_name(d[6]) # Workshop Pricing

In [ ]:
df.info()

In [ ]:
d = defaultdict()

In [ ]:
for artist_id, name in zip(three_year['Artist Payroll ID'], three_year['Artist: Account Name']):
    d[artist_id] = name

In [ ]:
three_year['Artist: Account Name']

In [ ]:
three_year[three_year['Artist: Account Name'].str.contains('Zachary')]

In [ ]:
three_year